node_modules
.next
.env.local
.env
*.log
.DS_Store
vercel-deploy/node_modules/@next/swc-linux-arm64-gnu/next-swc.linux-arm64-gnu.node
vercel-deploy/node_modules/@next/swc-linux-arm64-musl/next-swc.linux-arm64-musl.node
node_modules/@next/swc-linux-arm64-gnu/next-swc.linux-arm64-gnu.node
node_modules/@next/swc-linux-arm64-musl/next-swc.linux-arm64-musl.node
